
<section id="bannerid" class="banner">
    <% if (Products.length > 0) { for(var i=0; i < 3; i++) { %>
    <div class="banner-img">
        <img src="<%=Products[i].IMAGES_Slide1%>" >
    </div>
    <%  }}   %>

</section>