<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../css/ProductsCatalog/styles.css" rel="stylesheet" media="all">
    <link href="../css/ProductsCatalog/Sidebar.css" rel="stylesheet" media="all">


    <title>Products</title>

</head>
<body>

<div id="wrapper">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Categories
                </a>
            </li>
            <li>
                <a href="/catalog">All</a>
            </li>
            <li>
                <a href="/catalog/Mobile Phones">Mobile Phones & Tablets</a>
            </li>
            <li>
                <a href="/catalog/Home Furniture">Home Furniture - Decor</a>
            </li>
            <li>
                <a href="/catalog/Fashion & Beauty">Fashion & Beauty</a>
            </li>
            <li>
                <a href="/catalog/Electronics">Electronics</a>
            </li>
            <li>
                <a href="/catalog/Laptops">Laptops</a>
            </li>
            <li>
                <a href="/catalog/Pets">Pets - Accessories</a>
            </li>
            <li>
                <a href="/catalog/Vehicles">Vehicles</a>
            </li>
            <li>
                <a href="/catalog/Others">Others</a>
            </li>
            <hr>
            <button class="btn btn-danger" style="margin-left: 40px" onclick="document.location='/Add_Product'">+ Add New Product</button>

        </ul>
    </div>
</div>


    <div class="container text-center">
        <h1>All Products</h1>

        </div>
        <div class="shell">
          <div class="container">
            <div class="row">


            <%- body %>




               </div>



          </div>
        </div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</html>